<!DOCTYPE html>
<html>
<head>
    <title>Sign Up - HealthCare</title>
     <link rel="stylesheet" href="/static/custom.css">
</head>
<body class="auth-body">

<div class="auth-container">
    <div class="auth-left">
        <h1>Join HealthCare</h1>
        <p>Create your account to manage appointments and health services.</p>
    </div>

    <div class="auth-right">
        <h2>Create Account</h2>
        <form method="POST">
            <input type="text" name="fullname" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have account? <a href="/signin">Sign In</a></p>
    </div>
</div>

</body>
</html>